html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: Times New Roman, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  font-weight: 600;
}

.image:hover {
  border: 3px red solid;
}

* {
  box-sizing: border-box;
}
