html,
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: Times New Roman, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  font-weight: 600;
}

.image:hover {
  border: 3px red solid;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
  padding:10px;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate3d(0, 1, 1, 360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate3d(0, 1, 1, 360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate3d(0, 1, 1, 360deg); transform:rotate3d(0, 1, 1, 360deg); } }
